




/*my modification*/

.errorMessage {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    text-align: center;
    color: #dc3545;
}

.successMessage {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    text-align: center;
    color: #28a745;
}

.remove {
    display: none;
}

.deleteWarning {
    color: red;
    font-size: 14px;
    padding: 20px 0px;
}

.ViewDetailsTit {
    font-weight: bold;
}

.logoView {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}


/*forget password*/
.pswd_infoCss {
    position: absolute;
    /*bottom:-75px;
 
    right:55px;*/
    width: 350px;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    display: none;
    z-index: 999;
}



    .pswd_infoCss h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
    }


    .pswd_infoCss::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 45%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
    }

.invalid {
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
/*d*/


.uploadSccessMessage {
    color:green;
    padding:10px;

}

.kv-fileinput-caption{
    height:50px;
}
.file-input{
    width:100%;
}
.fielUploadValidationHolder{
    width:100%;
}

.partslable{
    padding:10px;
    display:block;
    text-align:justify-all;
  

}

.file-thumbnail-footer {
    display: none;
}

.file-drop-zone {
    min-height: 100px;
}

.RefNum {
    color: #007bff;
}
.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.ServiceSerialViewHeaders {
    font-size: 22px;
    padding-left: 10px;
}
.ServiceViewHeaders {
    font-size: 20px;
    font-weight: normal;
}

.images-wrapper {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.img-item {
    height: 130px;
}

.images-wrapper::-webkit-scrollbar {
    display: none;
}