@page
@model AlbayaderWeb.Pages.Shared.CalenderModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="content-wrapper">
<section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Calendar</li>
                            </ol>
                        </div>

                    </div>
                    


                </div>
                <!-- /.container-fluid -->
            </section>

              <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
 <div class="row">
       

   

               
           
        
</div>

            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        </div>