@page
@model AlbayaderWeb.Pages.ChangePasswordModel
@{
     ViewData["Title"] = "Change Password";
   
}
<div class="content-wrapper">



<section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Change Password</li>
                            </ol>
                        </div>

                    </div>



                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="login-box" style="margin: auto;">
                        <div class="card">
                            <div class="card-body login-card-body">
                                <p class="login-box-msg"> Change your password.</p>

                                <form action="login.html" method="post">

                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Old Password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-info btn-block">Change password</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </form>


                            </div>
                            <!-- /.login-card-body -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->

        <!-- /.content-wrapper -->

        </div>