@page
@model AlbayaderWeb.Pages.ChangePasswordModel
@{
     ViewData["Title"] = "Change Password";
   
}
<div class="content-wrapper">



<section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Change Password</li>
                            </ol>
                        </div>

                    </div>



                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="login-box" style="margin: auto;">
                        <div class="card">
                            <div class="card-body login-card-body">
                                <p class="login-box-msg"> Change your password.</p>

                                <form id="ChangePasswordForm" method="post" name="ChangePasswordForm">

                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Old Password" id="oldpassword" name="oldpassword">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Password"  id="password" name="password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3" id="passwordHolder">
                                        <input type="password" class="form-control" placeholder="Confirm Password"  id="passwordconf" name="passwordconf">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                       <div id="pswd_info" class="pswd_infoCss">
                                          <h4>Password requirements:</h4>
                                          <ul>
                                              <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                                              <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                                              <li id="number" class="invalid">At least <strong>one number</strong></li>
                                              <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                                              <li id="Symbol" class="invalid">Be at least one <strong>Symbol (~!#$%^&^&)</strong></li>
                                          </ul>
                          </div>


                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-info btn-block">Change password</button>
                                        </div>
                                        <div class="row" >
                                            <div class="col-12">
                                            <span class="errorMessage">@Model.errorMessage</span>
                                            <span class="successMessage">@Model.successMessage</span>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </form>


                            </div>
                            <!-- /.login-card-body -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->

        <!-- /.content-wrapper -->

        </div>

          <!-- jQuery -->
            <script src="plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

            
           <script src="~/js/Users/setting.js"></script>
              <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
            <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    