@page
@model AlbayaderWeb.Pages.forgetpasswordModel
@{
      ViewData["Title"] = "Login";
     Layout = "~/Pages/Shared/_PlanLayout.cshtml";
}





<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>



<div class="hold-transition login-page">


<div class="login-box">
  <div class="login-logo">
    <img src="images/logo-albyader.png" style="width: 60%" />
  </div>
  <!-- /.login-logo -->
  
   <div class="card">
    <div class="card-body login-card-body">
     
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

      <form  method="post" name="forgetpassword" id="forgetpassword">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-info btn-block" name="requestPassword" id="requestPassword">Request new password</button>
          </div>
          <!-- /.col -->
        </div>
        <div class="row">

            <div class="col-12">
                <span class="errorMessage">@Model.errorMessage</span>
                <span class="successMessage">@Model.successMessage</span>
                </div>
            </div>
       </form>

      <p class="mt-3 mb-1">
        <a href="Index">Login</a>
      </p>
       
    </div>
    <!-- /.login-card-body -->
  </div>

</div>
</div>
<!-- /.login-box -->

    <!-- jQuery -->
            <script src="plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="js/forgetpassword.js" ></script>

 <script src="plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="plugins/jquery-validation/additional-methods.min.js"></script>
