@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
     Layout = "~/Pages/Shared/_PlanLayout.cshtml";

}


   


<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    

      $('#loginBtn').click(function(){
         // alert($('#LoginEmail').val())
           window.location.href="/ChangePassword";
      })
  })
  </script>

<div class="hold-transition login-page">


<div class="login-box">
  <div class="login-logo">
    <img src="images/logo-albyader.png" style="width: 60%" />
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to Al Bayader Service</p>

      <form  method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" id="LoginEmail" name="LoginEmailName" value="@Model.email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="LoginPassword" name="LoginPasswordName">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-info btn-block" id="btnGenerateWebName">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

     
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>

      </p>
      <p>
            <a class="nav-link" asp-area="" asp-page="/ChangePassword"><i class="nav-icon fas fa-gear"></i>login test</a>
      </p>
     <p>
 <p>@Model.email</p>
 <p>@Model.password</p>
  <p>@Model.Message</p>
 </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
<!-- /.login-box -->

