@page
@model AlbayaderWeb.Pages.LoginModel
@{
}

<script>
    const uriAll = 'https://localhost:7174/api/user/all';
    const uriAdd = 'https://localhost:7174/api/user/addNewUser';
    console.log('bassam111')
    function clicked(){
        alert('')
  //var xmlHttp = new XMLHttpRequest();
  //  xmlHttp.open( "GET", uri, false ); // false for synchronous request
  //  xmlHttp.send( null );
  //  alert(xmlHttp.responseText)
  //  return xmlHttp.responseText;

  // working
        // fetch(uriAll)
        //.then(response => response.json())
        //.then(data => 
        //    console.log(data[0].emailAdress))  
        //.catch(error => console.error('Unable to get items.', error));
        //}


    // post 
    const item = {
    username: "Test",
    emailAdress: "test@gmail.com",
    password: "Password@1223NM2",
    authLevelId: "1"
  };

    fetch(uriAdd, {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(item)
  })
    .then(response => response.json())
    .then(() => {
    
    })

}
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <label id="email"></label>
    <input type="button" onclick="clicked()" title="click me" value="Click me"  />
</div>
