@page
@model AlbayaderWeb.Pages.preventiveStartModel
@{
    ViewData["Title"] = "Preventive Service initaition";
}
<script src="plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <style>
      .dropdown-menu{
        padding-top: 0;
        
      }
      .dropdown-divider{
        margin: 0;
      }



      .custom-switch.custom-switch-sm .custom-control-label {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.custom-switch.custom-switch-sm .custom-control-label::before {
    height: 1rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}

.custom-switch.custom-switch-sm .custom-control-label::after {
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    border-radius: calc(1rem - (1rem / 2));
}

.custom-switch.custom-switch-sm .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1rem - 0.25rem));
}

/* for md */

.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
}

/* for lg */

.custom-switch.custom-switch-lg .custom-control-label {
    padding-top: 7px;;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border-radius: calc(3rem - (2rem / 2));
}

.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2rem - 0.25rem));
}

/* for xl */

.custom-switch.custom-switch-xl .custom-control-label {
    padding-left: 4rem;
    padding-bottom: 2.5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::before {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}

.custom-switch.custom-switch-xl .custom-control-label::after {
    width: calc(2.5rem - 4px);
    height: calc(2.5rem - 4px);
    border-radius: calc(4rem - (2.5rem / 2));
}

.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2.5rem - 0.25rem));
}


.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}
    </style>

<div class="content-wrapper">
<section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Preventive Service initiation</li>
                            </ol>
                        </div>

                    </div>



                </div>
                <!-- /.container-fluid -->
            </section>

              <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            

          

           <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Corrective Service Form</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <form method="post" name="preStartForm" id="preStartForm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                         <div class="form-group">
                           
                        <label>Client Branch</label>
                        <select name="ddBranch" id="ddBranch" class="form-control select2" style="width: 100%;" >
                 
    
                        </select>
                      </div>
                    </div>
                </div>

           <div class="row" style="float: right;"> 
               <div class="col">
                     <div style="padding: 20px;float:left">
                    <a href="Dashboard" class="btn btn-block btn-default btn-lg" style="width: 200px;">Cancel</a>

                        </div>

                    <div style="padding: 20px;float:left">
                    <button type="button" id="StartPreventiveService" class="btn btn-block btn-info btn-lg" style="width: 200px;">Start</button>

                   </div>
               </div>
        
              <!-- /.col -->
            </div>

        </div>
        <input type="hidden" name="serviceType" id="serviceType" value="@Model.ServiceType" />
     
          </form>
        

        
        <!-- /.card-body -->
      </div>



            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        </div>

          <script src="plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
            <!-- Select2 -->
            <script src="plugins/select2/js/select2.full.min.js"></script>
          <!-- InputMask -->
        <script src="plugins/moment/moment.min.js"></script>
        <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- date-range-picker -->
            <script src="plugins/daterangepicker/daterangepicker.js"></script>
            <script src="~/js/preventive/initiatePreventive.js"></script>

            <script src="plugins/jquery-validation/jquery.validate.min.js"></script>
            <script src="plugins/jquery-validation/additional-methods.min.js"></script>
 
           
