@page
@model AlbayaderWeb.Pages.preventiveModel
@{
    ViewData["Title"] = "Preventive Service";
}



  <style>
    .dropdown-menu {
      padding-top: 0;

    }

    .dropdown-divider {
      margin: 0;
    }



    .btn-addEquipment {
    color: #fff;
    background-color: #8d30ff;
    border-color: #ae45ff;
    box-shadow: none;
}

  </style>

<div class="content-wrapper">
<section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Peventive Service</li>
                            </ol>
                        </div>

                    </div>



                </div>
                <!-- /.container-fluid -->
            </section>

              <!-- Main content -->
      
              <section class="content">

        <div class="container-fluid">
          <div class="card">

            <div class="card-body">
              <div class="row">



                <div class="col-sm">

                  <div class="info-box-content">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="img/user1-128x128.jpg" alt="user image">
                      <span class="username">
                        <a href="#">Jonathan Burke Jr.</a>
                      </span>
                      <span class="description">Technician</span>
                    </div>

                  </div>
                </div>
                <div class="col-sm">

                  <div class="info-box-content">
                    <div class="info-box-text text-center text-muted"><b>Carrefour</b></div>
                    <div class="info-box-number text-center text-muted mb-0">MCC</div>
                  </div>

                </div>
                <div class="col-sm">

                  <div class="info-box-content" style="float: right;text-align: left;">
                    <div class="info-box-text text-center text-muted"><i class="fa-solid fa-calendar-days"></i>
                      13/04/2022</div>
                    <div class="info-box-number text-muted mb-0"><i class="fa-solid fa-clock"></i> 10:00 AM</div>
                  </div>

                </div>

              </div>
            </div>

          </div>

          <!--Equipment 1-->
         
         <div id="mainEquHolder">



                        <div class="card card-default" id="Equipment">
                            <div class="card-header">
                                <h3 class="card-title">Equipment Details </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool removeForm" data-card-widget="" >
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row" >

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Equipments</label>
                                            <input type="email" class="form-control" id="Equipments"
                                                placeholder="Enter Equipments">
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Serial No.</label>
                                            <input type="email" class="form-control" id="Serial"
                                                placeholder="Enter Serial No.">
                                        </div>

                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputFile">After </label>
                                            <div class="input-group " id="uploadBeforeHolder">   
                                               
                                                <input id="PicturesBeforeFix" name="PicturesBeforeFix" class="file fa-2x fileImage " type="file" multiple="true" style="height:50px;">

                                            

                                                  <div class="fielUploadValidationHolder">
                                                    <span id="uploadError" class="errorMessage uploadError"></span>
                                                    <progress id="fileProgress" style="display: none" class="progress"></progress>
                                                    <span id="lblMessage" class="uploadSccessMessage lblMessage"></span>
                                                    <div id="thumbHolder" class="thumbHolder""></div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                      
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <fieldset class="form-group border p-3" id="partsHolder">
                                            <legend class="w-auto px-2">Parts</legend>

                                            <div class="row">
                                                <div class="col">
                                                    <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"  id="Elect" name="Elect" data-on="Yes" data-off="No" >
                                                     <label class="partslable" for="Elect">Elect Parts</label>
                                                </div>
                                                <div class="col ">
                                                     <input type="checkbox"  data-toggle="toggle" data-width="75" data-height="50"  id="Moving" name="Moving"  data-on="Yes" data-off="No" >
                                                      <label class="partslable" for="Moving">Moving Parts</label>
                                                </div>
                                                <div class="col">
                                                  
                                                     <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"   id="Bearings" name="Bearings"  data-on="Yes" data-off="No" >
                                                      <label class="partslable" for="Bearings">Bearings</label>

                                                </div>
                                                <div class="col">
                                                     <input type="checkbox"  data-toggle="toggle" data-width="75" data-height="50"  id="Bells" name="Bells"  data-on="Yes" data-off="No" >
                                                      <label class="partslable" for="Bells">Bells</label>
                                                </div>
                                                <div class="col">
                                                       <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"  id="Motor" name="Motor"  data-on="Yes" data-off="No" >
                                                        <label class="partslable" for="Motor">Motor</label>
                                                </div>
                                          
                                                <div class="col">
                                                         <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"   id="Heater" name="Heater"  data-on="Yes" data-off="No" >
                                                        <label class="partslable" for="Heater">Heater</label>
                                                </div>
                                                <div class="col">
                                                         <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"   id="Safety" name="Safety"  data-on="Yes" data-off="No" >
                                                        <label class="partslable" for="Safety">Safety Switch</label>
                                                </div>
                                                <div class="col">
                                                         <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"   id="Control" name="Control"  data-on="Yes" data-off="No" >
                                                        <label class="partslable" for="Control">Control Board</label>
                                                </div>
                                                <div class="col">
                                                         <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"   id="Compressor" name="Compressor"  data-on="Yes" data-off="No" >
                                                        <label class="partslable" for="Compressor">Compressor</label>                                                </div>
                                                <div class="col">
                                                         <input type="checkbox"  data-toggle="toggle"  data-width="75" data-height="50"   id="Tmp" name="Tmp"  data-on="Yes" data-off="No" >
                                                        <label class="partslable" for="Tmp">Tmp. Control</label>
                                                </div>
                                            </div>


                                        </fieldset>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail">Materials Used</label>
                                                <textarea class="form-control" id="MaterialUsed"
                                                    rows="3"></textarea>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail">Required Materials</label>
                                                <textarea class="form-control" id="Rquiredmaterials"
                                                    rows="3"></textarea>
                                            </div>

                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group col-md-12">
                                                <label for="exampleInputFile">After </label>
                                                <div class="input-group " id="uploadAftereHolder">   
                                                   
                                                    <input id="PicturesAfterFix" name="PicturesAfterFix" class="file fa-2x fileImage " type="file" multiple="true" style="height:50px;">
                             
                                                   <div class="fielUploadValidationHolder">
                                                    <span id="uploadError" class="errorMessage uploadError"></span>
                                                    <progress id="fileProgress" style="display: none" class="progress"></progress>
                                                    <span id="lblMessage" class="uploadSccessMessage lblMessage"></span>
                                                    <div id="thumbHolder" class="thumbHolder"></div>
                                                 </div>
                                                </div>
                                            </div>
                                        </div>


                                      
                                    </div>
                                    <!-- /.row -->
                                    

                                    <!-- /.row -->
                                </div>
                                <!-- /.card-body -->

                            </div>
                            <!-- /.card -->


                        </div>
                    </div>




        <div class="card">
        
          <div class="card-body">
        
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Remarks</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      <div class="card">

        <div class="card-body">
          
          <div class="row">
            <div class="col">
            <button type="button" class="btn btn-block btn-addEquipment btn-lg" id="AddAnotherForm" >
              
            <i class="fas fa-plus"></i> Add Another Equipment</button>

            </div>
            <div class="col">
              <button type="button" id="SaveDraft" class="btn btn-block btn-default btn-lg" >
                
              <i class="fa-solid fa-pen-nib"></i> Save Draft</button>
            </div>
            <div class="col">
            <button type="button" class="btn btn-block btn-info btn-lg" >
              <i class="fa-solid fa-arrow-right"></i>
              Save &
              Continue</button>
            </div>

          </div>
        </div>
      </div>

          <!-- /.card-body -->
        </div>

        </section>
        </div>


         <!-- jQuery -->
            <script src="plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  
            <!-- Select2 -->
            <script src="plugins/select2/js/select2.full.min.js"></script>

             <script src="~/js/preventive/preventive.js"></script>

            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>




            <script src="plugins/jquery-validation/jquery.validate.min.js"></script>
            <script src="plugins/jquery-validation/additional-methods.min.js"></script>


    <link rel="stylesheet" type="text/css" href="~/plugins/fileInput/fileinput.css"/>
    <script type="text/javascript" src="~/plugins/fileInput/fileinput.js"></script>

    
<!-- default icons used in the plugin are from Bootstrap 5.x icon library (which can be enabled by loading CSS below) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">

    <!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/piexif.min.js" type="text/javascript"></script>
 
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/sortable.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>